<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEwLLcBXe0qWLQPYcTNs7h0d2OERO4hKM</string>
	<key>GCM_SENDER_ID</key>
	<string>598912434524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterflavour</string>
	<key>PROJECT_ID</key>
	<string>flutter-flavor-df023</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-flavor-df023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598912434524:ios:62ec3acbe36f5c1b960199</string>
</dict>
</plist>